# BACKEND

Backend/.bundle

Backend/db/*.sqlite3
Backend/db/*.sqlite3-journal

Backend/log/*
Backend/tmp/*
Backend/log/.keep
Backend/tmp/.keep
Backend/erd.pdf

Backend/.byebug_history

# FRONTEND
Frontend/.env
Frontend/.expo/

Frontend/node_modules

Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*